.container_total {
	position: absolute;
	top: 0px;
	right: -350px;
	display: flex;
	gap: 20px;
	flex-direction: column;
	text-align: center;
	font-size: 1.125rem;
	font-family: var(--font-1);
	
}

.container_total span {
	display: block;
	font-size: 1.375rem;
	font-weight: bold;
}

.total{
	border: 1px solid var(--cor-2);
	background-color: var(--cor-1);
	box-shadow: 0px 0px 3px 1px var(--cor-3);
	border-radius: 10px;
	width: 250px;
	height: 55px;
	color: var(--cor-3);
}
