.left_side_panel{
	position:absolute;
	left: -250px;
	display: flex;
	flex-direction: column;
	gap: 50px;
	
}



.transaction_group_selection{
	display: flex;
	flex-direction: column;
	align-self: center;
	padding: 10px 20px 10px 20px;
	background-color: var(--cor-1);
	border-radius: 10px;
	border: 1px solid var(--cor-2);
	width: fit-content;
}

.transaction_group_selection h4{
	color: var(--cor-3);
	text-align: center;
	margin-bottom: 5px;
}

.left_side_panel select{
	align-self: center;
	border: 1px solid var(--cor-2);
	border-radius: 4px;
}

#category_chart{
	width: 200px;
}