.container_nav_months{
	font-size: 1.25rem;
	text-align: center;
	user-select: none;
	margin-top: 20px;
	font-family: "DynaPuff";
}

.container_nav_months h2{
	display: inline-block;
	color: var(--cor-3);
	
}

.container_nav_months a{
	text-decoration: none;
	color: var(--cor-3);
}


.container_text_nav_months{
	display: inline-block;
	width: 420px;
}