.container_transactions {
  background-color: var(--cor-1);
  display: grid;
  min-height: 45vh;
  width: 85%;
  margin: 20px auto ;
  border-radius: 4px;
  border: 1px solid var(--cor-2);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 0;
  color: var(--cor-3);
  position: relative;
  gap: 0px;
  grid-column: 3/6;
  grid-row: 2/4;
  overflow-y: auto;
  	scrollbar-color: var(--cor-0) var(--cor-1);
  	scrollbar-width: thin;
  
}


.container_transactions .divisor {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  border-top: 1px dotted var(--cor-2);
  top: 50px;
}

.container_transactions_column {
	width:500%;
	max-height: 400px;
  	text-align: center;
  	border-right: 1px dotted var(--cor-2);
	font-family: var(--font-1);
	
}
.container_transactions_column:last-child {
  border-right: none;
}

.transaction {
  text-align: center;
  align-content: center;
  width: 100%;
  height: 35px;
  border-bottom: 1px dotted var(--cor-2);
  font-family: var(--font-1);
}

.transaction:last-of-type{
	border-bottom: none;
}


@media(max-width:1750px){
	.container_transactions {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	
	#transactions_column_type{
		display: none;
	}
}

@media(max-width: 1600px){
	.container_transactions {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
		
	#transactions_column_category{
			display: none;
	}
	
}

@media (max-width: 1400px){
	.container_transactions{
		grid-column: 2/5;
		grid-row: 2/4;
	}
}

@media (max-width: 900px){
	.container_transactions_column {
		font-size: 0.8rem;
	}
	.transaction{
		font-size: 0.8rem;
	}
	.container_transactions .divisor {
		top: 40px;
	}
}

@media(max-width:750px){
	.container_transactions{
		grid-column: 1/3;
		grid-row: 3;
	}
}

@media(max-width:450px){
	.transaction{
		font-size: 0.7rem;
	}
	.container_transactions{
		width: 99%;
		border-radius: 0;
		
	}
	.container_management_transactions{
		width: 45px;
		border-radius: 4px;
		top:auto;
		right: 10px;
		bottom: -30px;
	}
	.container_add{
		right: 65px;
	}
}


