@import './variables.css';

body {
  background-color: var(--cor-0);
  padding: 0px;
  margin: 0px;
  font-family: "DynaPuff";
  height: 100vh;
}


h3{
	margin: 0px;
}

.margin_bottom_20{
	margin-bottom: 20px;
}

.disabled {
	pointer-events: none;
	cursor: default;
}