.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nome {
  display: flex;
  margin: 30px 0px;
}


h1 span {
  color: #7c63ff;
  font-style: italic;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav a {
  color: #7c63ff;
  font-size: 16px;
  background-color: #1e1e1e;
  text-decoration: none;
  border: 1px groove;
  border-radius: 4px;
  padding: 4px 8px;
}
nav a:last-child {
  margin-right: 40px;
}

.border {
  display: inline-block;
  content: "";
  background-color: #7c63ff;
  border: 1px double black;
  width: 100%;
  height: 1px;
}

img {
  padding: 0px;
  margin: 0px 0px 0px 40px;
  max-width: 100px;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}
