.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--cor-1);
  align-self: center;
}

.header_title_container{
  display: flex;
  margin: 30px 0px;
}

.header_title {
	
  font-size: 2.2rem;
  color: var(--cor-3);
  margin: 0px;
  padding: 0px;
  align-self: center;
  margin: 0px 20px;
  text-align: center;
  text-shadow: -1px 0 var(--cor-2), 0 1px var(--cor-2), 1px 0 var(--cor-2), 0 -1px var(--cor-2);

}

.user_links{
	display: flex;
	align-items: center;
	gap: 30px;
}
.saldo{
	align-self: center;
	text-align: center;
}

.saldo p {
	color: var(--cor-3);
	margin: 0;
	font-size: 1.1rem;
}

.saldo span{
	font-size: 1.2rem;
	color: var(--cor-2);
	text-shadow: 0px 0px 2px  black;
}

nav a {
	background-color: var(--cor-0);
 	color: var(--cor-3);
	font-size: 1rem;
	text-decoration: none;
	border: 1px groove var(--cor-2);
	border-radius: 4px;
	padding: 4px 8px;
	margin-right: 10px;
}
nav a:hover{
	background-color: #2A323D;
}
nav a:last-child {
  margin-right: 40px;
}

.header_img {
  padding: 0px;
  margin: 0px 0px 0px 40px;
  max-width: 100px;
  max-height: 100%;
  align-self: center;
  justify-self: center;
}


