.titulo_mes{
	font-size: 20px;
	text-align: center;
	user-select: none;
	margin-top: 20px;
}

.titulo_mes h2{
	display: inline-block;
	color: white;
	
}

.titulo_mes a{
	text-decoration: none;
	color: white;
}


.container_texto_titulo_mes{
	display: inline-block;
	width: 420px;
}