.modal {
  padding: 40px;
  background-color: #1e1e1e;
  position: relative;
  border: solid 2px #7c63ff;
  border-radius: 4px;
  flex-wrap: wrap;
  width: fit-content;
  display: flex;
}

.modal a {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.adicionar_transacao, .remover_transacao {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: none;
  justify-content: center;
  text-justify: center;
  align-items: center;
}

.dados_removal{
	color: white;
	align-content: center;
}

.removal_modal{
	gap: 20px;
}

.removal_modal button, .adicionar_transacao button {
	margin: 0 auto;
	  border: 1px solid #7c63ff;
	  border-radius: 10px;
	  color: white;
	  background-color: #1e1e1e;
	  position: absolute;
	  bottom: 20px;
	  right: 20px;
	  padding: 5px 10px;
}

.removal_modal_button{
	display: none;
}

.removal_modal button:hover , .adicionar_transacao button:hover {
  background-color: #3a3939;
  cursor: pointer;
}

.container_selection{
	align-content: center;
}

#selection_transaction{
	background-color: #7c63ff;
	color: white;
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	box-shadow: 0px 0px 5px 0px white;
}

.transaction_add_data{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px;
}

.transaction_add_data label {
	color: white;
	grid-column: 1;
}

.transaction_add_data input{
	border-radius: 4px;
	background-color: #7c63ff;
	border:1px solid white; 
	color: white;
	display: inline-block;
}
.transaction_add_data input:focus{
	background-color: #7c63cf;
	box-shadow: 0px 0px 3px 1px  white;
}

#nome,#categoria,#parcelas,#preco{
	width: 95px;	
	margin-right: 10px;
}

#data{
	width: 98px;
}

legend {
	text-align: center;
	color: white;
}

fieldset {
	border-radius: 10px;
	border-color: #7c63cf;
	width: fit-content;
	display: inline-block;
	margin-left: 15px;
	position: absolute;
	right: 20px;
	top: 30px;
}

.flex {
  	display: flex;	
}

.block{
	display: block;
}
