.modal {
  padding: 40px;
  background-color: var(--cor-1);
  position: relative;
  border: solid 2px var(--cor-2);
  border-radius: 4px;
  flex-wrap: wrap;
  width: fit-content;
  display: flex;
}

.x {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: red;
  border-radius: 50%;
  width: 20px;
  text-align: center;
  text-decoration: none;
  color: var(--cor-3);
  text-shadow: 1px 1px 1px black;
}

.add_transaction_modal_section, 
.remove_transaction_modal_section, 
.user_settings_modal_section{
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  margin-inline: auto;
  width: 100%;
  height: 100vh;
  z-index: 2000;
  display: none;
  justify-content: center;
  text-justify: center;
  align-items: center;
}

.transaction_add_modal_button, 
.transaction_removal_modal_button, 
.settings_modal_button{
	margin: 0 auto;
	border: 1px solid var(--cor-2);
	border-radius: 10px;
	color: var(--cor-3);
	background-color: var(--cor-0);
	position: absolute;
	bottom: 10px;
	right: 20px;
	padding: 5px 10px;
	font-family: var(--font-0);
}

.transaction_add_modal_button:hover , 
.transaction_removal_modal_button:hover ,
.settings_modal_button:hover{
  background-color: #3a3939;
  cursor: pointer;
}

.removal_modal_button{
	display: none;
}

.transaction_add_data{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px;
}

.transaction_add_data label {
	color: var(--cor-3);
	grid-column: 1;
}

.transaction_add_data input{
	border-radius: 4px;
	background-color: var(--cor-0);
	border:1px solid var(--cor-3); 
	color: var(--cor-3);
	display: inline-block;
	font-family: var(--font-1);
	font-size: 0.8rem;
}
.transaction_add_data input:focus{
	background-color: var(--cor-2);
	box-shadow: 0px 0px 3px 1px  white;
	color: black;
}

#transaction_name,
#transaction_category,
#transaction_installments,
#transaction_price{
	width: 95px;	
	margin-right: 10px;
}

#transaction_date{
	width: 98px;
}

legend {
	text-align: center;
	color: var(--cor-3);
}

fieldset {
	border-radius: 10px;
	border-color: var(--cor-2);
	width: fit-content;
	display: inline-block;
	margin-left: 15px;
	position: absolute;
	right: 20px;
	top: 30px;
}

.container_removal_data{
	color: var(--cor-3);
	align-content: center;
}

.removal_modal{
	gap: 20px;
}

.container_removal_data p{
	display: inline-block;
	margin: 3px 5px;
	
}

.removal_transaction_data_title{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.container_selection{
	align-content: center;
}

#selection_transaction{
	background-color: var(--cor-2);
	color: var(--cor-3);
	border-radius: 4px;
	display: inline-block;
	height: 40px;
	box-shadow: 0px 0px 5px 0px white;
}

.flex {
  	display: flex;	
}

.block{
	display: block;
}
