.container_transacoes {
  background-color: #1e1e1e;
  box-shadow: 0px 0px 5px white;
  display: grid;
  width: 40%;
  min-height: 45vh;
  margin: 60px auto;
  border-radius: 4px;
  border: 1px solid #7c63ff;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
  color: #7c63ff;
  position: relative;
}
.container_gerenciamento_transacoes {
  position: absolute;
  padding: 5px;
  bottom: -40px;
  border: 1px solid black;
  box-shadow: 0px 0px 2px 1px  white;
  border-radius: 4px;
  align-items: center;
  text-align: center;
}

.container_gerenciamento_transacoes a {
  text-decoration: none;
  font-size: 14px;
  font-family: monospace;
  color: #e8ecd7;
}

.container_adicionar{
	background-color: #7c63ff;
	right: 0px;
}
.container_remover{
	background-color: #BF0A30;
	right: 110px;
}

.container_adicionar:hover {
  background-color: #7c63cf;
  cursor: pointer;
}
.container_remover:hover{
	
	/* Mudar isso*/
	background-color: blue;
	cursor: pointer;
}

.container_transacoes span {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  display: inline-block;
  border-top: 1px dotted #7c63ff;
  top: 50px;
}

.container_transacoes_titulo_lista {
  width: 150px;
  justify-items: center;
  align-items: center;
  border-right: 1px dotted #7c63ff;
}
.container_transacoes_titulo_lista:last-child {
  border-right: none;
}

.linha {
  text-align: center;
  align-content: center;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid #7c63ff;
}

.linha:last-of-type{
	border-bottom: none;
}
